/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background: #fff url("../images/bgtile.png") repeat-x;
}

img {
	display: inline-block;
}

p {
	display: inline-block;

}

a{
	text-decoration: none;
	font-color: #1c5380;
	display: inline-block;
	margin: 30, 0;
	font-style: bold;
}
h4 {
	display: inline-block;
}

#text-box {
	
	border-color: black;
	vertical-align: top;
	background: url("../images/frame.png") no-repeat;
}
#text-box p{
	width: 60%;
    padding-left: 30px;
}

nav {
	display: inline-block;
	padding-left: 30%;
}

button {
  font-size: 20px;
  color: white;
  border: 2px solid #06365f;
  border-radius: 4px;
  padding: 7px 10px;
  background: linear-gradient(#B0E0E6, #1c5380);
}

#home {
	padding-right: 5px;
}

#brand {
	vertical-align: middle;
	display: inline-block;
}
#phone {
	margin-top: 20px;
	padding-left: 300px;
	padding-right: 30px;
}
/*#header-image {
	background: url("../images/frame.png") no-repeat;
	display: inline-block;
}*/



#logos{
	display: inline-block;
	width: 70%;
	vertical-align: top;
	padding-top: 170px;
}

#content {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}
#text-box p b{
     color: #06365f;
 }

